

<section class="hero" id="home">
    <div class="hero-content">
    <h2>Welcome to Exam Portal</h2>
    <p>Your all-in-one solution for secure and efficient online exams.</p>
    <div class="buttons">
    <a *ngIf="!isUserLoggedIn" routerLink="/login" class="btn">Login</a>
    <a *ngIf="!isUserLoggedIn" routerLink="/register" class="btn btn-alt">Register</a>
    <a *ngIf="!isUserLoggedIn" routerLink="/adminlogin" class="btn">Login as admin</a>
    </div>
    </div>
    </section>
    <section id="features">
    <h2>Why Choose Our Exam Portal?</h2>
    <ul>
    <li><strong>Secure Assessments:</strong> Advanced tools to ensure test integrity.</li>
    <li><strong>User-Friendly Interface:</strong> Easy navigation for all users.</li>
    <li><strong>Customizable Exams:</strong> Tailored quizzes, exams, and assignments.</li>
    <li><strong>Real-Time Monitoring:</strong> Proctoring solutions for live exams.</li>
    <li><strong>Instant Results:</strong> Get detailed analytics immediately.</li>
    </ul>
    </section>
    <section id="about">
    <h2>About Exam Portal</h2>
    <p>
               We aim to revolutionize the way online exams are conducted. Our platform simplifies assessments
               for schools, universities, and training centers with cutting-edge technology and a commitment to excellence.
    </p>
    </section>
    <section id="cta">
    <h2>Get Started Today!</h2>
    <p>Join thousands of educators and students using Exam Portal to simplify their examination process.</p>
    <a routerLink="/contactpage" class="btn">Contact Us</a>
    </section>


